<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config/dbconfig.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    <typeAliases>-->
<!--        <typeAlias type="com.atguigu.mybatis.bean.Employee" alias="employee" />-->
<!--        <package name="com.atguigu.mybatis.bean"/>-->
<!--    </typeAliases>-->
    <!--
        environments
            transactionManager ===> transaction type
                type ===>JDBC or MANAGED or self_defined
            dataSource
                type ===>POOLED or UNPOOLED or JNDI
    -->
    <environments default="development">
        <environment id="test">
            <transactionManager type=""></transactionManager>
            <dataSource type=""></dataSource>
        </environment>
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <mapper resource="config/EmployeeMapper.xml" />
    </mappers>
</configuration>